.crypto_currency_row {
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 100px 0;

  &:hover {
    background-color: black;
  }

  &:nth-child(even) {
    background: #e8f4ff;
  }

  &:nth-child(odd) {
    background: white;
  }
}

.currency_name {
  text-align: left;
}

.crypto_table_element {
  font-weight: normal;
  padding: 10px;
}