.crypto_currency_row {
  align-items: center;
  display: flex;
  background: white;

  &:hover .crypto_currency_row_info {
    background-color: #cdd9e5;
  }

  &:hover {
    background-color: #cdd9e5;
  }
}

.crypto_currency_row_info {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  background: white;
}

.rank {
  width: 30px;
  padding: 10px;
}

.currency_name {
  text-align: left;
  width: 120px;
  padding: 10px;
}

.price {
  width: 100px;
  padding: 10px;
}

.market_cap {
  width: 120px;
  padding: 10px;
}

.volume {
  width: 130px;
  padding: 10px;
}

.change {
  width: 120px;
  padding: 10px;
}

.add_to_bag {
  width: 50px;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: auto;
}