.crypto_currency_row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .crypto_currency_row_info {
    background-color: #cdd9e5;
  }

  &:hover {
    background-color: #cdd9e5;
  }
}

.crypto_currency_row_info {
  align-items: center;
  display: flex;
}

.cell {
  padding: 10px;
}

.rank {
  width: 30px;
}

.currency_name {
  text-align: left;
  width: 180px;
}

.price {
  width: 100px;
}

.market_cap,
.volume,
.change {
  width: 130px;
}

.add_to_bag {
  width: 50px;
}

.link {
  text-decoration: none;
  color: black;
  cursor: auto;
}

@media (max-width: 768px) {
  .cell {
    padding: 0 5px;
    font-size: 15px;
  }
  .crypto_currency_row_info {
    display: inline-flex;
  }

  .rank {
    width: 30px;
  }

  .currency_name {
    text-align: left;
    width: 140px;
  }

  .price {
    width: 60px;
  }

  .volume,
  .change,
  .market_cap {
    width: 70px;
  }

  .add_to_bag {
    width: 30px;
  }
}
