.crypto_currency_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.crypto_table {
  margin: 50px 0;
  font-size: 20px;
  max-width: 98%;
}

.table {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 5px grey;
  background: white;
  max-width: 100%;
}

.row {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #8ec6f0;
  font-weight: bold;
}

.column {
  padding: 10px;
}

.rank {
  width: 30px;
}

.currency_name {
  text-align: left;
  width: 180px;
}

.price {
  width: 100px;
}

.volume,
.change,
.market_cap {
  width: 130px;
}

.add_to_bag {
  width: 50px;
}

@media (max-width: 768px) {
  .crypto_table {
    margin: 30px 0;
    font-size: 15px;
  }

  .column {
    padding: 5px;
  }

  .rank {
    width: 30px;
  }

  .currency_name {
    text-align: left;
    width: 150px;
  }

  .price {
    width: 60px;
  }

  .volume,
  .change,
  .market_cap {
    width: 70px;
  }

  .add_to_bag {
    width: 30px;
  }
}

@media (max-width: 920px) {
  .table {
    overflow-x: scroll;
  }
}
