.crypto_currency_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto_table {
  display: flex;
  justify-content: center;
  margin: 50px 50px;
  font-size: 20px;
}

.show {
  display: block;
}

.doNotShow {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_amount_of_crypto {
  font-size: 20px;
  border: none;
  padding: 5px;
  margin: 0 20px 20px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;

  &:focus {
    outline: none;
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
}

.cancel_amount_button {
  align-items: center;
  appearance: none;
  background-color: #f86565;
  color: white;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  max-width: 100%;
  padding: 2px 12px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
  margin: 0 0 0 20px;

  &:hover {
    background-color: #ff0000;
  }

  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
}

.confirm_amount_button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  max-width: 100%;
  padding: 2px 12px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;

  &:hover {
    background: #F6F9FE;
    color: #174ea6;
  }

  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 5px grey;
  width: 1000px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #8ec6f0;
  font-weight: bold;
}

.rank {
  width: 50px;
  padding: 10px;
}

.currency_name {
  text-align: left;
  width: 200px;
  padding: 10px;
}

.price {
  width: 120px;
  padding: 10px;
}

.market_cap {
  width: 150px;
  padding: 10px;
}

.volume {
  width: 150px;
  padding: 10px;
}

.change {
  width: 120px;
  padding: 10px;
}

.addToBag {
  width: 50px;
  padding: 10px;
}