.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 8px #a8a8a8;
  background-color: white;
}

.company_name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  &:hover {
    color: #174ea6;
  }
}

.header_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_right {
  display: inline-block;
  font-size: 18px;

  &:hover {
    color: grey;
  }
}